<a href="/galleries/create" class="sbtn creategalbtn">Create a Gallery</a>
<div class="">
<p>All galleries</p>
</div>
<div class="">
<ul class="allg">
	    {{#each gallist}}

			<li>
				<h3>{{this.galleryName}}</h3>
				<p>{{this.address}}</p>
				<p>{{this.city}}</p>
				<p>{{this.state}}</p>
				<p>{{this.zipcode}}</p>
				
				<a href="/galleries/{{this.id}}" class="sbtn">View Details</a>
			</li>

		{{/each}}

</ul>



</div>