<div class="textwidget margin-top-30">
<p>All galleries</p>
</div>
<div class="widget">
<ul>
	    {{#each gallist}}

			<li>
				<h3>{{this.galleryName}}</h3>
				<p>{{this.address}}</p>
				<p>{{this.city}}</p>
				<p>{{this.state}}</p>
				<p>{{this.zipcode}}</p>
				<p>{{this.vrid}}</p>

				<a href="http://rudes.de/vr/index.html?image=examples/pano/{{this.vrid}}_4096.jpg&is_stereo=true&preview=examples/pano/{{this.vrid}}_2048.jpg">VR</a>

			</li>

		{{/each}}

</ul>

</div>